.accountCard {
    background-color: white;
    border: 2px solid lightgray;
    flex-basis: 100%;
    padding: 20px;
    h3 {
        color: black;
        font-size: 0.9em;
        font-weight: 300;
    }
    .amountAccount {
        color: black;
        font-weight: 700;
        font-size: 2em ;
    }
}