.slogan-container {
    padding: 30px 50px;
    background-color: white;
    position: absolute;
    right: 80px;
    top: 20%; 
    h2 {
        font-size: 1.5em;
    }
    p {
        padding-top: 20px;
        font-size: 1.2em;
    }
}
@media screen and (max-width: 700px) {
    .slogan-container {
        background-color: rgba(255, 255, 255, 0.384);
        border-radius: 20px;
        right: 20px;
    }
}