.main-redirection {
    height: 80vh;
    flex-basis: 100%;
    background-color: #12002b;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        h1 {
            flex-basis: 100%;
            display: flex;
            justify-content: center;
            color: white;
            font-size: 4em;
        }
        a {
            color: white;
        }
    }
}